<form [formGroup]="cardForm">
    <app-input [control]="cardForm.get('name')" [placeholder]="'Please Enter Name'"
           [label]="'Name'"></app-input>
    <app-input [control]="cardForm.get('cardNumber')" [placeholder]="'Please Enter card number'"
            [label]="'Card Number'"></app-input>
    <app-input [control]="cardForm.get('expireDate')" [placeholder]="'Please Enter expire date'"
            [label]="'Expire Date'"></app-input>
    <app-input [control]="cardForm.get('securityCode')" [placeholder]="'Please Enter security code'"
            [label]="'Security Code'"></app-input>
</form>


<!-- {{ cardForm.controls | json }} <br /> -->
<!-- {{ cardForm.get('name') | json }} <br /> -->
<!-- {{ cardForm.value | json }} <br />
{{ cardForm.valid | json }} <br />
{{ cardForm.controls.name.errors | json}} -->